<div id="wrapper">
    <div id="loginForm">
        <h3>WHAT'S YOUR NAME?</h3>
        <input type="text" id="txtUsername">
        <input type="button" value="Register" id="btnRegister">
    </div>
    <div id="chatForm">
        <div id="left">
            <div id="boxTitle">Users Online</div>
            <div id="boxContent"></div>
        </div>

        <div id="right">
            <div id="sayHi">
                Hello <span id="currentUser"></span>
                <input type="button" value="Logout" id="btnLogout">
            </div>
            <div id="listMessages"></div>
            <div id="thongbao"></div>
            <input type="text" id="txtMessage">
            <input type="button" value="Send" id="btnSendMessage">
        </div>
    </div>
</div>