<input type="text" id="txtRoom">
<input type="button" value="Create Room" id="btnCreateRoom">

<div id="left">
  <h3>Room dang co</h3>
  <div id="listRoom"></div>
</div>
<h4 id="roomHienTai">...</h4>
<div id="right">

</div>
<input type="text" id="txtMessage">
<input type="button" value="Chat" id="btnChat">